


$width-for-comment-box: 600px;
$height-for-comment-box: 200px;

textarea{
    width: $width-for-comment-box;
    height: $height-for-comment-box;
    border: 1px solid white;
    border-radius: 4px;
}

.head-for-feedback{
    font-size: 40px;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-feedback{
    width: 120px;
    height: 90px;
    margin-left: 140px;
    margin-top: -199px;
}


.cardbody{
    background-color: lightgreen;
}

.please-enter-feedback{
    color: red;
}





.show-message-enter {
    opacity: 0;
    transform: translateX(-100%);
}


.show-message-exit {
    opacity: 1;
    transform: translateX(0);
}

